.u-section-1 .u-sheet-1 {
  min-height: 1492px;
}

.u-section-1 .u-group-1 {
  width: 1019px;
  min-height: 1282px;
  height: auto;
  margin: 100px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-1 .u-form-1 {
  height: 317px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-input-10 {
  font-family: Poppins;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-1 .u-form-2 {
  height: 262px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-input-11 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-input-12 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-input-13 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-input-14 {
  font-family: Poppins;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: -55px 16px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-1 .u-form-3 {
  height: 382px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23478ac9'/%3e%3c/svg%3e");
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-input-15 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
  margin-bottom: 30px !important;
  margin-top: auto !important;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-label-17 {
  margin-left: 0;
}

.u-section-1 .u-input-16 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
  margin-bottom: 30px !important;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-label-19 {
  margin-left: 0;
}

.u-section-1 .u-input-17 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
  margin-bottom: 30px !important;
}

.u-section-1 .u-form-group-23 {
  margin-left: 0;
}

.u-section-1 .u-label-21 {
  margin-left: 0;
}

.u-section-1 .u-input-18 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-24 {
  margin-left: 0;
  margin-bottom: 30px !important;
}

.u-section-1 .u-form-group-25 {
  margin-left: 0;
}

.u-section-1 .u-label-23 {
  margin-left: 0;
}

.u-section-1 .u-input-19 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-26 {
  margin-left: 0;
  margin-bottom: 30px !important;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  margin: 40px auto -15px;
  padding: 7px 119px 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}