.u-section-1 .u-sheet-1 {
  min-height: 372px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 3rem;
  margin: 164px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  margin: 11px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 36px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 269px;
  grid-gap: 0px 0px;
  grid-auto-columns: 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 232px;
  width: 265px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: -186px 279px 0 14px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: 17px 279px 0 14px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 85px 0 0 auto;
  padding: 5px 79px 6px 77px;
}

.u-section-2 .u-icon-1 {
  width: 133px;
  height: 133px;
  margin: -133px auto 0 86px;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 232px;
  width: 265px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: -186px 279px 0 14px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: 17px 279px 0 14px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 85px 0 0 auto;
  padding: 5px 79px 6px 77px;
}

.u-section-2 .u-icon-2 {
  width: 133px;
  height: 133px;
  margin: -133px auto 0 86px;
  padding: 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  min-height: 269px;
  grid-gap: 0px 0px;
  grid-auto-columns: 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 232px;
  width: 265px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: -186px 279px 0 14px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: 17px 279px 0 14px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 85px 0 0 auto;
  padding: 5px 79px 6px 77px;
}

.u-section-2 .u-icon-3 {
  width: 133px;
  height: 133px;
  margin: -133px auto 0 86px;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 232px;
  width: 265px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: -186px 279px 0 14px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: 17px 279px 0 14px;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 85px 0 0 auto;
  padding: 5px 79px 6px 77px;
}

.u-section-2 .u-icon-4 {
  width: 133px;
  height: 133px;
  margin: -133px auto 0 86px;
  padding: 0;
}

.u-section-2 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 50% 50%;
  min-height: 269px;
  grid-gap: 0px 0px;
  grid-auto-columns: 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 232px;
  width: 265px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: -186px 279px 0 14px;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: 17px 279px 0 14px;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 85px 0 0 auto;
  padding: 5px 79px 6px 77px;
}

.u-section-2 .u-icon-5 {
  width: 133px;
  height: 133px;
  margin: -133px auto 0 86px;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 232px;
  width: 265px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: -186px 279px 0 14px;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  font-family: Poppins;
  margin: 17px 279px 0 14px;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 85px 0 0 auto;
  padding: 5px 79px 6px 77px;
}

.u-section-2 .u-icon-6 {
  width: 133px;
  height: 133px;
  margin: -133px auto 0 86px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 222px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 165px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 165px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 222px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, 50%);
    min-height: 222px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 93px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 710px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }
}