.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-group-1 {
  width: 873px;
  min-height: 371px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 147px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 873px;
  margin: 80px 0 0;
}

.u-section-1 .u-input-1 {
  height: 47px;
  font-family: Poppins;
}

.u-section-1 .u-form-group-2 {
  margin-bottom: 0;
  margin-top: auto !important;
}

.u-section-1 .u-input-2 {
  height: 47px;
  font-family: Poppins;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  padding: 8px 30px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}